.new {
  margin-top: 120px;
}

.new__wrapper {
  ul {
    display: flex;
    justify-content: space-between;

    li {
      width: 49%;
      height: 560px;

      padding: 40px;
      border-radius: 20px;

      &:first-child {
        background: var(--color-yellow);

        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
          font-size: 60px;
          font-family: "Nunito-eb", sans-serif;
          font-weight: 800;

          @media (max-width: 520px) {
            font-size: 48px;
          }

          @media (max-width: 430px) {
            font-size: 36px;
          }
        }

        p {
          font-size: 28px;

          @media (max-width: 1440px) {
            font-size: 20px;
          }
        }

        a {
          margin-top: auto;
          width: 520px;
          padding: 20px;
          font-size: 20px;
          border-radius: 20px;
          background: var(--color-dark);
          text-align: center;
          color: var(--color-white);

          @media (max-width: 1400px) {
            width: 100%;
          }
        }

        @media (max-width: 1140px) {
          width: 100%;
        }
      }

      &:last-child {
        background: var(--color-dark);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 1140px) {
          display: none;
        }
      }
    }
  }
}
