.upload_image {
  background: #1f1f1f;
  height: 100vh;
  padding-bottom: 20px;

  svg {
    margin-top: 20px;
  }

  @media (max-width: 980px) {
    overflow: auto;
  }

  @media (max-height: 830px) {
    height: 100%;
  }

  @media (max-width: 520px) {
    height: 110vh;
  }
}

.upload_image__wrapper {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    gap: 20px;

    li,
    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      text-align: center;
      border: 1px solid var(--color-yellow);
      height: 50vh;
      border-radius: 10px;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: var(--color-yellow);
        height: 100%;

        @media (max-width: 520px) {
          img {
            width: 70px;
            height: 70px;
            -o-object-fit: contain;
               object-fit: contain;
          }

          h3 {
            font-size: 16px;
          }

          p {
            font-size: 14px;
          }
        }
      }

      @media (max-width: 980px) {
        width: 100%;
        height: 400px;
      }

      @media (max-width: 520px) {
        height: 300px;
      }
    }

    label {
      padding: 20px;
      border: none;
    }

    li > label > p,
    li > p {
      margin-top: auto;
      color: #717171;
    }

    li {
      &:last-child {
        padding: 20px;
      }
    }

    @media (max-width: 980px) {
      flex-direction: column;
      margin-top: 40px;
      margin-bottom: 40px;
      height: 85vh;
    }

    @media (max-width: 520px) {
      justify-content: start;
      align-items: start;
      margin-top: 60px;
      height: 100%;
    }
  }
}

.upload_image__image {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 50px;

  @media (max-height: 670px) {
    padding-top: 20px;
  }

  @media (max-height: 565px) {
    // padding-top: 160px;
  }

  p {
    color: var(--color-yellow);
  }

  img {
    width: 880px;
    height: 630px;
    -o-object-fit: cover;
       object-fit: cover;

    @media (max-width: 980px) {
      width: 100%;
    }

    @media (max-width: 520px) {
      height: 400px;
    }
  }

  @media (max-width: 980px) {
    height: 100vh;
  }
}

.upload_image__buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;

  button {
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;

    &:first-child {
      background: none;
      color: var(--color-yellow);
      border: 1px solid var(--color-yellow);
      width: 430px;
    }

    &:last-child {
      background: var(--color-yellow);
      color: var(--color-dark);
      width: 430px;
    }
  }

  @media (max-width: 980px) {
    flex-direction: column;

    button {
      width: 90vw !important;
    }
  }
}

.upload_image__upload {
  display: flex;
  flex-direction: column;
  // height: 50%;
}

.upload_image__upload > p {
  color: var(--color-white);
  text-align: center;
  margin-top: auto;
  opacity: 0.7;

  a {
    text-decoration: underline;
  }

  @media (max-width: 520px) {
    // margin-bottom: 100px;
    margin-top: 0px;
  }
}
