.footer {
  margin-top: 120px;
  background: #1e1f22;
  color: #8a8c8f;
  padding: 70px;

  @media (max-width: 520px) {
    padding: 20px;
  }
}

.footer__left {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  p {
    text-align: center;
  }

  @media (max-width: 1079px) {
    width: 100%;
  }

  @media (max-width: 780px) {
    flex-direction: column;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  @media (max-width: 1079px) {
    flex-direction: column;
  }
}

.footer__right {
  display: flex;
  flex-direction: column;
  gap: 30px;

  ul {
    display: flex;
    gap: 24px;

    li {
      width: 32px;
      height: 32px;

      display: flex;
      justify-content: center;
      align-items: center;

      background: #54565f;
      border-radius: 50%;
    }
  }

  p {
    color: var(--color-white);
  }
}
