@font-face {
  font-family: "Nunito";
  src: local("../assets/fonts/NunitoSans_7pt_Condensed-Regular.ttf"),
    url("../assets/fonts/NunitoSans_7pt_Condensed-Regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "Nunito-md";
  src: local("../assets/fonts/NunitoSans_7pt_Condensed-Medium.ttf"),
    url("../assets/fonts/NunitoSans_7pt_Condensed-Medium.ttf")
      format("truetype");
}

@font-face {
  font-family: "Nunito-sb";
  src: local("../assets/fonts/NunitoSans_7pt_Condensed-SemiBold.ttf"),
    url("../assets/fonts/NunitoSans_7pt_Condensed-SemiBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "Nunito-eb";
  src: local("../assets/fonts/NunitoSans_7pt_Condensed-ExtraBold.ttf"),
    url("../assets/fonts/NunitoSans_7pt_Condensed-ExtraBold.ttf")
      format("truetype");
}
